@using BorkarEmlakUI.Models.AuthVMs;

@model LoginVm

@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="w-100 vh-100 d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-body">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary mt-2 w-100" type="submit">Giriş Yap</button>

                        <div class="mt-2 text-center">
                            <a asp-asp-controller="Auth" asp-action="Register" type="button" class="text-decoration-none cursor-pointer"> Hesabın Yokmu Giriş Yap ? </a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>



