@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}


<div>
    @await Component.InvokeAsync("Slider")
</div>

<div>
    @await Component.InvokeAsync("Info")
</div>

<div>
    @await Component.InvokeAsync("EnSonEklenenler")
</div>

